<style>
body {
	background: #ccc;
	font-family: helvetica, arial, sans-serif;
}
.comment {
	background: #ccc;
	color: #444;
	font-size: 1.25em;
	font-weight: bold;
}
	.inline-comment {
		background: #eee;
		font-size: 1em;
		font-style: italic;
		margin-left: 1em;
	}
code {

}
label {
	font-weight: bold;
}
.wrapper {
	background: #eee;
	margin: 1em auto;
	padding: 1em;
	max-width: 40em;
}
</style>

<div class="wrapper">
	<h1>Vaprogui</h1>
	{{ form }}
</div>